<h1>Bookings</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Desk</th>
      <th>Staff</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to "#{booking.desk.try(:name)}", desk_path(booking.desk) %></td>
        <td><%= link_to "#{booking.staff.try(:name)}", staff_path(booking.staff) %></td>
        <td><%= booking.status ? 'Active' : 'Cancelled' %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', root_path %>
